.booking-padding-first {
    padding: 20px 250px 20px 250px;
    background-color: 	rgba(240,240,240, 0.5);
}

.booking-padding-second {
    padding: 20px 250px 20px 250px;
}

.image-size {
    width: 500px;
    object-fit: cover;
}

@media (max-width: 960px) {
    .booking-padding-first {
        padding: 20px 10px 20px 10px;
    }

    .booking-padding-second {
        padding: 20px 10px 20px 10px;
    }
}