.highlights-box {
    padding: 70px 250px 70px 250px;
}

@media (max-width: 960px) {
    .highlights-box {
        padding: 70px 10px 70px 10px;
    }
}

.box-specials-flex {
    display: flex;
    justify-content: space-between;
}

.specials-text {
    font-size: '2xl';
    font-family: proximanova bold;
}

.image-same-size {
    width: 350px;    
    height: 220px;   
    object-fit: cover;
  }