@font-face {
    font-family: 'proximanova light';
    src: url('/proximanova light.ttf') format('truetype');
}

@font-face {
    font-family: 'proximanova regular';
    src: url('./proximanova regular.ttf') format('truetype');
}

@font-face {
    font-family: 'proximanova bold';
    src: url('./proximanova bold.ttf') format('truetype');
}
